.test{
    border: 1px dashed red;
    padding: 10px;
    span{
        display:inline-block;
        width:10px;
        height:10px;
        border-radius: 10px;
        background-color:red;
    }
}
